@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #04152d;
}

.opacity-layer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 89.17%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.wahed-opacity-layer::before {
  content: "";
  background-color: #04152d9f;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}